@font-face{
    font-family: 'street';
    src: url('images/Streetlife.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
}
body{
    background-color: #292831;
    text-align: center;
    
}
h1{
    font-family: 'street';
    color: #DE0178;
}
#logo{
    width: 17.5em;
    margin-top: 100px;
}

#config{
    position: absolute;
    margin-top: -300px;
    margin-left: 700px
    
}

#pesquisar{
    width: 50em;
    height: 4em;
    margin-top: -10px;
    color: white;
    background-color: #38383D;
    border-color:#5fddd0;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #1c1c1f;
    font: 'Qwitcher Grypen', cursive;
    text-align:initial;
    font-size: 1em;
    margin-left: -10px
    
}
#pesquisar{
    padding-left: 50px;
    margin-top: 20px;
}
#google{
    width: 30px;
    border-radius: 20px;
    margin-top: 35px;
    position: absolute;
    
}
button{
    width: ;
    height: 40px;
    position: relative;
    margin-top: 20px;
    background-color: #292831;
    border-bottom: none;
    margin-left: 10px;
}
#logos{
    width: 4em;
    margin-top: 7px;
    border-radius: 2px;
}
#logos-github{
    width: 4em;
    margin-top: 7px;
    background-color: #454453;
    border-radius: 20px;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 50px 50px;
    background-color: #4f4d5e;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #35333d;
    
    
}
ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}